body, html {
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

.wipBar {
    width: 100%;
    background: rgb(78, 78, 78);
    color: white;
    text-align: center;
    position: fixed;
    z-index: 10;
}

.wipBar a {
    color: inherit;
    text-decoration: none;
}

.wipBar a:hover {
    text-decoration: underline;
}

.wipBar p {
    padding-top: 15px;
    padding-bottom: 5px;
}

.parallax { 
    /* The image used */
    background-image: url("images/main.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 700px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* General wrapper class definitions and media queries */
.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
  
@media screen and (min-width: 375px) {
    .wrapper {
        max-width: 375px;
    }
}
@media screen and (min-width: 500px) {
    .wrapper {
        max-width: 500px;
    }
}
@media screen and (min-width: 700px){
    .wrapper {
        max-width: 700px;
    }
}
@media screen and (min-width: 900px) {
    .wrapper {
        max-width: 900px;
    }
}
@media screen and (min-width: 1170px) {
    .wrapper {
        max-width: 1170px;
    }
}
  
/* parallax header section */
.wrapper {
    height: 100%;
}
  
.parallax__content {
    top: 50%;
    width: 100%;
    text-align: center;
    position: relative;
    float: left;
    transform: translateY(-50%);
}
  
.parallax__header {
    font-size: 20pt;
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    padding-left: 45px;
}

.parallax__text {
    font-size: 28pt;
    font-family: 'Comfortaa', cursive;
    margin: 0;
}
  
@media screen and (min-width: 700px) {
    .parallax__content {
        text-align: left;
        width: 50%;
    }
    .parallax__header {
        /*font-size: 40pt;*/
        margin: 0;
    }
    .parallax__text {
        /*font-size: 18pt;*/
        margin: 0;
    }
}

.about, .work, .projects, .connect {
    width: 100%;
    font-family: 'Comfortaa', cursive;
    padding: 10px 15% 40px 15%;
}

.about, .projects {
    background: #eee;
}

.work, .connect {
    background: #fff;
}

.title {
    text-align: center;
}

.line-detail {
    width: 15%;
    border-bottom: 2px solid rgb(58, 58, 58);
    margin: auto;
}

.title h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    /* color: rgb(51, 48, 48); */
    color: rgb(58, 58, 58);
}

.img-davis {
    background-image: url("images/davis.jpg");
}

.img-oodles {
    background-image: url("images/oodles.png");
}

.img-turbohedge {
    background-image: url("images/turbohedge.png");
}

.img-nanosys {
    background-image: url("images/nanosys.png");
}

.img-laspo {
    background-image: url("images/laspo.jpg");
}

.img-laspo2 {
    background-image: url("images/laspo2.jpg"); 
}

.img-alexa {
    background-image: url("images/alexa.png");
}

.image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    width: 100%;
}

.body-paragraph {
    font-size: 10pt;
}