body {
    font-family: 'Varela Round', sans-serif;
}

.wipBar p {
    padding-top: 15px;
}

.wipBar {
    height: 60px;
    width: 100%;
    background: #4286f4;
    color: white;
    text-align: center;
}

