body {
    font-family: 'Varela Round', sans-serif;
}

.wipBar {
    width: 100%;
    background: #4286f4;
    color: white;
    text-align: center;
}

.wipBar a {
    color: inherit;
    text-decoration: none;
}

.wipBar a:hover {
    text-decoration: underline;
}

.wipBar p {
    padding-top: 15px;
    padding-bottom: 15px;
}